body {
  margin-top: 180px;
  padding: 0;
  margin-left: 0;
  font-family: sans-serif;
  background-image: url('/book.jpg');
  background-repeat:no-repeat;
  background-size:cover;
}

.employee-item{
 display: block;
 cursor: pointer;
}

.employee-item-text{
  display: inline-block
}

.employee-item img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px
}

.employee-card {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}


.employee-card img{
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 50%;
}

.home-container {
  margin-left: 100px;
}